.blockquote {
    padding-top: 100px;
    @media (max-width: 640px) {
        padding-top: 15px;
    }
    // .blockquote__img
    &__img {
        margin: 0 auto;
        width: 66.6%;
        padding-bottom: 26%;
        @media (max-width: 540px) {
            width: 100%;
            padding-bottom: 39%;
        }
    }
    // .blockquote__text
    &__text {
        @extend %fontSlab;
        @include adaptiv-value(font-size, 18, 12, 1);
        @include adaptiv-value(line-height, 24, 20, 1);
        text-align: center;
        color: $black;
        max-width: 595px;
        margin: 0 auto;
    }
}
