.contact {
    padding-top: 100px;
    @media (max-width: 760px) {
        padding-top: 20px;
    }
    // .contact__inner
    &__inner {
        display: flex;
        align-items: center;
        @media (max-width: 760px) {
            flex-direction: column;
        }
    }
    // .contact__img
    &__img {
        width: 60.33%;
        padding-bottom: 350px;
        @media (max-width: 760px) {
            width: 100%;
            padding-bottom: 30%;
            margin-bottom: 10px;
        }
    }
    // .contact__body
    &__body {
        font-size: 18px;
        line-height: 21px;
        color: $black;
        margin-left: 20px;
        @media (max-width: 760px) {
            margin-left: 0;
            padding: 0 15px;
        }
    }
    // .contact__title
    &__title {
        @extend %fontSlab;
        font-size: 18px;
        color: $blue;
        margin-bottom: 30px;
        @media (max-width: 760px) {
            margin-bottom: 10px;
        }
    }
    // .contact__email
    &__email {
        margin-bottom: 30px;
        @media (max-width: 760px) {
            margin-bottom: 10px;
        }
    }
    // .contact__tel
    &__tel {
        margin-bottom: 30px;
        @media (max-width: 760px) {
            margin-bottom: 10px;
        }
    }
    a{
        color: inherit;
        &:hover{
            text-decoration: underline;
        }
    }
}
